

html, body{
    padding:0;
    margin: 0;
}

body{
    color: #4A4949 !important;
    font-family: 'Work Sans',
    sans-serif;
}
/*
nav .nav-link:hover {
    color: rgba(0, 0, 0, .7);
} */
.navbar-light .navbar-nav .active>.nav-link {
    pointer-events: none;
}

.navbar-light .navbar-nav .active>.nav-link::after {
    content: '';
    border-bottom: 4px solid rgba(126, 93, 169, 0.75);
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.nav-item{
    position: relative;
}

.nav-link:hover::after {
    width: 100%;
    height: 50px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(143, 110, 185, 0.05) 55%, rgba(154, 77, 255, 0.25) 99.73%);
}

.nav-link::after {
    content: '';
    border-bottom: 4px solid rgba(126, 93, 169, 0.75);
    white-space: nowrap;
    width: 0%;
    overflow: hidden;
    position: absolute;
    transition: .4s;
    transform: translateX(-50%);
    bottom:0;
    left:50%;
}

.navbar{
    padding: 0;
}

.nav-link {
    /* display: block; */
    padding: 1.5rem 1rem;
}

.ml-50 {
    margin-left: 50px;
}

.link-purple{
    font-weight: 300;
    color: #592E91;
    opacity: 0.60;
}

.link-purple:hover {
    text-decoration: none;
    color: #592E91;
    opacity: 1;
}
/*---Script for Corousel---*/

.carousel-indicators {
    bottom: 0;
    right: auto;
    margin: 15px 0 0 0;
    position: inherit;
    justify-content: flex-start;
}

.bg-top {
    display: none;
}

.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #c4c4c4;
}

.grad-toptobtm{
    background: linear-gradient(180deg, #FFE8DB 0%, rgba(255, 232, 219, 0) 100%);
}

.carousel-indicators .active {
    background: linear-gradient(266.91deg, rgba(126, 93, 169, 0.75) 7.66%, rgba(117, 79, 166, 0.75) 99.73%);
}
/*---End Script---*/

.main_content{
    height:100%;
}

.bg-light{
    background-color: #EFF0F9 !important;
}

.content_header{
    font-weight: bold;
    z-index:25;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    animation: menu_sticky 0.7s ease-in-out;
    display: none;
    z-index: 99;
}

.step-item-1 {
    padding-right:15px;
}

.step-item-2 {
    padding-left:15px;
    padding-right:15px;
}
.step-item-3 {
    padding-left:15px;
}
.step-item-4 {
    padding-right: 15px;
}
.step-item-5 {
    padding-left: 15px;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}

.whitespace-data-left{
    margin-left:15px;
}

.card{
    border:0;
    border-radius:20px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-call:hover {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.15s linear;
}

.card-body{
    padding:30px;
}

.card-body-data {
    padding: 16px;
}

.card-img-top-rounded{
    border-radius: 20px;
}


.main-title{
    font-size: 16px;
    font-weight: bold;
}

.main-title-md {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Raleway',
    sans-serif;
    font-weight: 700;
}

.mt-30 {
    margin-top: 30px;
}

.mr-50 {
    margin-right: 50px;
}

.data-angka{
    font-size: 48px;
    font-weight: 600;
}

.row {
    margin: 0px;
}

.card-no-shadow{
    margin-top: 30px;
    margin-bottom: 40px;
}

.call-center-body {
    display: flex;
    font-size: 23px;
    font-weight: bold;
    color: rgba(115, 80, 162, 0.75);
}

.call-center-body a {
    width: 100%;
    margin-left: 10px;
    z-index: 5;
    text-decoration: none;

}

.icon-sm {
    display: none;
}

.border-orange {
    border: 1px solid rgb(248, 97, 90, .2);
}

.border-purple {
    border: 1px solid rgb(184, 13, 87, .2);
}

.border-green {
    border: 1px solid rgb(134, 189, 44, .4);
}

.btn{
    border-radius: 10px;
}

.btn-light{
    color: rgb(253, 252, 253);
    border: 1px solid rgba(115, 80, 162, .25);
    background: linear-gradient(222.6deg, #7E5DA9 0%, #673F9A 53.8%, #51238B 80.06%);
}

.btn-light:hover {
    color: rgb(253, 252, 253);
    background-color: #f8f9fa;
    box-shadow: 0px 6px 7px rgba(115, 80, 162, .1);
}

.btn-light:not(:disabled):not(.disabled):active{
    background: rgb(63, 23, 110);
    color: #f8f8f8;
}

.btn-outline-purple{
    opacity: 0.75;
    color: #7350A2;
    font-weight: 600;
    font-size: 16px;
    padding:12px 18px;
    background-color: transparent;
    border: 1.5px solid #7350A2;
    margin-top: 55px;
}

.btn-outline-purple:hover {
    box-shadow: 0px 6px 15px rgba(115, 80, 162, 0.25);
    transition: all 0.25s linear;
    color: #7350A2;
}

.call-content {
    margin-bottom: 2.8%;
    padding: 0 0 0 30px;
}

.card-body-gejala {
    margin: 0px 30px;
}

.card-call:after {
    content: "";
    mix-blend-mode: screen;
    position: absolute;
    width: 4rem;
    height: 4rem;
    left: 18px;
    bottom: 30px;
    background: rgba(126, 93, 169, .2);
    opacity: 0;
    border-radius: 100%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: ripple 1.8s ease-out infinite;
    -moz-animation: ripple 1.8s ease-out infinite;
    animation: ripple 1.8s ease-out infinite;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.card-data {
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 6px 15px rgba(115, 80, 162, 0.1);
    border: 1px solid rgba(115, 80, 162, 0.1);
}

.card-data-middle {
    margin-left: 15px;
    margin-right: 15px;
}

.card-data-left {
    margin-right: 15px;
}

.card-data-right {
    margin-left: 15px;
}

.card-img-top {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-location {
    box-shadow: 0px 5px 10px rgba(115, 80, 162, 0.05);
    border: 1px solid rgba(115, 80, 162, 0.1);
}

.card-location-active {
    color: #EFF0F9;
    background: linear-gradient(222.6deg, #949BDC 0%, #6E77C9 100%);
}


.card-gejala{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 200px;
    margin-top: 30px;
}

.card-province {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.card-pr-15 {
    padding: 0px;
}

.card-pl-15 {
    padding: 0px;
}

.color-green {
    color: #86bd2c;
    opacity: 0.75;
}

.color-purple {
    color: #b80d57;
    opacity: 0.75;
}

.color-orange {
    color: #f8615a;
    opacity: 0.75;
}

.py-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: menu_sticky 0.7s ease-in-out;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 6px 15px rgba(115, 80, 162, 0.05);
}


.section-whitespace {
    padding-top: 120px;
    padding-bottom: 109px;
}

.show-content-sm {
    display: none;
}

.show-content-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.h2 {
    font-size: 1.6rem;
}

.sub-color {
    color: #787878;
}

.sub-text{
    font-size: 18px;
    font-weight: 400;
}

.sub-title {
    font-size: 16px;
}


.swiper-container {
    width: 100%;
    height: auto;
}

.sbp-province, .sbp-1, .sbp-2 {
    left: 0px;
}

.sbn-province, .sbn-1, .sbn-2 {
    right: 0px;
}

.sbn-province:hover,
.sbp-province:hover {
    opacity: 1;
    box-shadow: 0px 6px 15px rgba(115, 80, 162, 0.1);
    transition: 0.3S;
}

.sbn-1:hover,
.sbn-2:hover,
.sbp-1:hover,
.sbp-2:hover {
    opacity: 1;
    transition: 0.3S;
}

.sbn-province.swiper-button-disabled,
.sbn-1.swiper-button-disabled,
.sbn-2.swiper-button-disabled,
.sbp-province.swiper-button-disabled,
.sbp-1.swiper-button-disabled,
.sbp-2.swiper-button-disabled {
    opacity: 0;
}

.sbn-province,
.sbp-province {
    opacity: 0.9;
    width: 50px;
    height: 50px;
    margin-top: calc(-1 * var(--swiper-navigation-size)/ 1.4);
    background: white;
    border: 1px solid rgba(115, 80, 162, 0.1);
    border-radius: 50px;
}

.sbn-1,
.sbn-2,
.sbp-1,
.sbp-2 {
    opacity: 0.9;
    width: 50px;
    height: 50px;
    margin-top: calc(-1 * var(--swiper-navigation-size)/ 1.4);
    border-radius: 50px;
}

.sbn-province:after, .sbn-1:after, .sbn-2:after,
.sbp-province:after, .sbp-1:after, .sbp-2:after {
    font-size: 20px;
}

.swiper-slide>.card-gejala{
    margin-top: 0px;
    height: 270px;
}

.swiper-province {
    height: 70px;
}

/*---Animation CSS---*/

.fade-in{
    opacity: 0;
    transition: all 1.25s ease-in;
}

.slide-bottom {
    opacity: 0;
    -moz-transition: all 1s cubic-bezier(.3, 0, .5, 1);
    -webkit-transition: all 1s cubic-bezier(.3, 0, .5, 1);
    -o-transition: all 1s cubic-bezier(.3, 0, .5, 1);
    transition: all 1s cubic-bezier(.3, 0, .5, 1);
    ;
    -moz-transform: translate3d(0px, 50px, 0px);
    -webkit-transform: translate3d(0px, 50px, 0px);
    -o-transform: translate(-50px, 0px);
    -ms-transform: translate(-50px, 0px);
    transform: translate3d(0px, 50px, 0px);
}

.slide-bottom-dly-135s {
    opacity: 0;
    -moz-transition: all 1.10s cubic-bezier(.3, 0, .5, 1);
    -webkit-transition: all 1.10s cubic-bezier(.3, 0, .5, 1);
    -o-transition: all 1.10s cubic-bezier(.3, 0, .5, 1);
    transition: all 1.10s cubic-bezier(.3, 0, .5, 1);
    -moz-transform: translate3d(0px, 50px, 0px);
    -webkit-transform: translate3d(0px, 50px, 0px);
    -o-transform: translate(-50px, 0px);
    -ms-transform: translate(-50px, 0px);
    transform: translate3d(0px, 50px, 0px);
}

.slide-bottom-dly-145s {
    opacity: 0;
    -moz-transition: all 1.15s cubic-bezier(.3, 0, .5, 1);
    -webkit-transition: all 1.15s cubic-bezier(.3, 0, .5, 1);
    -o-transition: all 1.15s cubic-bezier(.3, 0, .5, 1);
    transition: all 1.15s cubic-bezier(.3, 0, .5, 1);
    -moz-transform: translate3d(0px, 50px, 0px);
    -webkit-transform: translate3d(0px, 50px, 0px);
    -o-transform: translate(-50px, 0px);
    -ms-transform: translate(-50px, 0px);
    transform: translate3d(0px, 50px, 0px);
}

.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.virus-floating {
    animation: float 7.1s 0.1s infinite linear;
}

.virus-floating-slow {
    animation: float 20s 0.1s infinite linear;
}
@keyframes menu_sticky {
    0% {
        margin-top: -120px;
        opacity: 0;
    }

    50% {
        margin-top: -64px;
        opacity: 0;
    }

    100% {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes ripple {

        0%,
        35% {
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            transform: scale(0);
            opacity: .5;
        }

        50% {
            -webkit-transform: scale(4);
            -moz-transform: scale(4);
            transform: scale(4);
            opacity: .3;
        }

        to {
            opacity: 0;
            -webkit-transform: scale(9);
            -moz-transform: scale(9);
            transform: scale(9);
        }
}

@keyframes float {
    0% {
        -webkit-transform: rotateZ(0deg) translate3d(0,8%, 0) rotateZ(0deg);
        -moz-transform: rotateZ(0deg) translate3d(0,8%, 0) rotateZ(0deg);
        transform: rotateZ(0deg) translate3d(0,8%, 0) rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateZ(360deg) translate3d(0,8%, 0) rotateZ(-360deg);
        -moz-transform: rotateZ(360deg) translate3d(0,8%, 0) rotateZ(-360deg);
        transform: rotateZ(360deg) translate3d(0,8%, 0) rotateZ(-360deg);
    }
}

/*--- The End of Animations CSS */


@media (min-width: 1441px) {
    .content {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .section-top-content {
        padding-top: 80px;
        background:url("http://localhost/indonesia-lawan-corona/public/assets/img/wave_white.svg") no-repeat center;
        background-size:cover;
        height: 650px;
    }

    .section-middle {
        background: url("http://localhost/indonesia-lawan-corona/public/assets/img/wave_grey_lg.svg") no-repeat center;
        background-size: cover;
        height: 1200px;
        position: absolute;
        top: 1780px;
        width: 100%;

    }

    .call-center-body {
        margin-top: 11%;
    }

    .card-province {
        padding:16px;
    }

    .grid-container {
        display: grid;
        grid-row-gap: 30px;
        grid-template-columns: auto;
    }

    .grid-gjl {
        display: grid;
        grid-row-gap: 0px;
        grid-template-columns: auto;
    }

    .virus-sm {
        top:30px;
        left:15%;
    }

    .virus-md {
        top:300px;
        right:5%;
    }

}

@media (min-width: 1350px) and (max-width: 1440px) {

    .content {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .section-top-content {
        padding-top: 60px;
        background:url("http://localhost/indonesia-lawan-corona/public/assets/img/wave_white.svg") no-repeat center;
        background-size:cover;
        height: 600px;
    }

    .section-middle {
        background: url("http://localhost/indonesia-lawan-corona/public/assets/img/wave_grey.svg") no-repeat center;
        background-size: cover;
        height: 1250px;
        position: absolute;
        top: 1715px;
        width: 100%;
    }

    .call-content {
        margin-bottom: 3%;
        padding: 0 0 0 30px;
    }

    .call-center-body{
        margin-top:11%;
    }

    .card-province {
        padding: 16px;
    }

    .grid-container {
        display: grid;
        grid-row-gap: 30px;
        grid-template-columns: auto;
    }

    .grid-gjl {
        display: grid;
        grid-row-gap: 0px;
        grid-template-columns: auto;
    }

    .number-call-icon {
        width: auto;
        height: auto;
    }

    .virus-sm {
        top: 280px;
        left: 5%;
    }

    .virus-md {
        top: 200px;
        right: 2%;
    }


}

@media (min-width: 991px) and (max-width: 1349px) {
    .content {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .section-top-content {
        padding-top: 60px;
        background-size: cover;
        background:url("http://localhost/indonesia-lawan-corona/public/assets/img/wave_white_md.svg") no-repeat center;
        height: 555px;
    }

    .call-center-body {
        margin-top: 14%;
        font-size: 23px;
    }

    .card {
        border: 0;
        border-radius: 15px;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, .05);
    }

    .card-body {
        padding: 26px;
    }

    .card-province {
        padding: 16px;
    }

    .main-title {
        font-size: 16px;
    }

    .section-middle {
        background: url("http://localhost/indonesia-lawan-corona/public/assets/img/wave_grey.svg") no-repeat center;
        background-size: cover;
        position: absolute;
        width: 100%;
        top: 1700px;
        height: 1190px;
    }

    .sub-title {
        font-size: 14px;
    }

    .grid-container {
        display: grid;
        grid-row-gap: 30px;
        grid-template-columns: auto;
    }

    .grid-gjl {
        display: grid;
        grid-row-gap: 0px;
        grid-template-columns: auto;
    }

    .number-call-icon {
        width: auto;
        height: auto;
    }

    .virus-sm {
        top: 540px;
        left: 20%;
        height: 100px;
        opacity: .5;
    }

    .virus-md {
        top: 160px;
        right:2%;
        height: 300px;
    }

}

@media (min-width: 768px) and (max-width: 990px) {
    .nav-padding {
        padding: .5rem 30px;
    }

    .number-call-icon {
        width: auto;
        height: 25px;
    }

    .border-left {
        border: 0 !important;
        margin-top:30px;
    }

    .border-left>h4 {
        margin-left: 0px;
        display: flex;
    }

    .card-body {
        padding: 26.5px;
    }

    .card-province {
        padding: 16px;
    }
    
    .card-pr-15 {
        padding-right: 15px;
    }

    .card-pl-15 {
        padding-left: 15px;
    }
    
    .carousel-indicators,
    #scene {
        display: none;
    }

    .call-center-body {
        margin-top: 5%;
        font-size: 18px;
        font-weight: bold;
    }

    .call-content {
        padding: 0;
        margin-top:30px;
    }

    .row{
        margin:0px;
    }

    .padding-x-section{
        padding: 60px 30px;
    }

    .section-top-content {
        background-size: cover;
        background: url("http://localhost/indonesia-lawan-corona/public/assets/img/wave_white_md.svg") no-repeat center;
        height: 555px;
        padding: 2rem 30px;
    }

    .section-middle {
        top: 1630px;
    }

    .step-item-1 {
        padding-left: 15px;
    }

    .step-item-3 {
        padding-right: 15px;
    }

    .step-item-4 {
        padding-left: 15px;
    }

    .step-item-5 {
        padding-right: 15px;
    }

    .grid-container {
        display: grid;
        grid-column-gap:0px;
        grid-template-columns: 50% 50%;
    }

    .grid-gjl {
        display: grid;
        grid-column-gap: 30px;
        grid-template-columns: auto auto auto;
    }

    .ml-50 {
        margin-left: 0px;
    }
    .py-30 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .virus-sm {
        top: 305px;
        left: 20%;
        height: 100px;
        opacity: .5;
    }

    .virus-md {
        top: 0px;
        right: 2%;
        height: 150px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    #scene,
    .virus-sm,
    .virus-md,
    .carousel-indicators,
    .number-call-icon {
        display: none;
    }

    .border-left {
        border: 0 !important;
        margin-top: 30px;
    }

    .bg-top {
        width: 100%;
        position: absolute;
        top: 59px;
        display: block;
    }

    .btn-outline-purple {
        float: right;
        margin-top: 25px;
    }

    .card {
        box-shadow: 0px 5px 5px rgba(0, 0, 0, .05);
    }

    .call-center-body {
        margin-top: 5%;
        font-size:16px;
    }

    .show-content-sm {
        display: block;
    }

    .show-content-lg {
        display: none;
    }

    .call-center-body a {
        margin-left: 0px;
    }

    .call-content {
        padding:0px;
    }
    
    .card-body {
        padding: 16px;
    }

    .card-body-data {
        text-align: center;
    }

    .card-pr-15 {
        padding-right: 8px;
    }

    .card-pl-15 {
        padding-left: 8px;
    }

    .card-data-left,
    .card-data-middle,
    .card-data-right {
        margin: 0 0 15px 0;
    }

    .content {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .grid-container {
        display: grid;
        grid-column-gap: 0px;
        grid-template-columns: 50% 50%;
    }

    .sbp-province,
    .sbn-province {
        display: none;
    }

    .sbp-province:focus,
    .sbn-province:focus,
    .sbn-1:focus,
    .sbp-1:focus,
    .sbn-2:focus,
    .sbp-2:focus {
        outline: none;
    }

    .swiper-container {
        margin-bottom: 20px;
        padding-left: 0px;
    }

    .swiper-gjl {
        height: 284px;
        margin-top: 30px;
    }

    .card-province {
        padding: 12px;
        font-size: 13px;
    }

    .icon-sm {
        display: inline;
    }

    h4 {
        font-size: 1.1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .section-top-content {
        background: url("http://localhost/indonesia-lawan-corona/public/assets/img/wave_white_sm.png") no-repeat center;
        /* height: 300px; */
    }

    .sub-text {
        font-size: 18px;
        font-weight: 400;
    }

    .sub-title,
    .main-title {
        font-size: 12.5px;
    }

    .main-title {
        font-weight: 600;
    }

    .ml-50 {
        margin-left: 0px;
    }

    .mt-15 {
        margin-top: 15px;
    }

    .mt-30 {
        margin-top: 15px;
    }

    .mr-50 {
        margin-right: 0;
    }

    .whitespace-data-left{
        margin-left: auto;
        margin-right: auto;
    }
}